:root {
    --post-box-shadow: rgba(239, 239, 239, 0.35);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: #61616136;
}

::-webkit-scrollbar-thumb:hover {
    background: #61616170;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    min-height: 8em;
    max-height: 14em;

    margin-bottom: 1em;

    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 5px 10px var(--post-box-shadow);
    background-color: yellow;
    overflow: hidden;
}

.item-title {
    width: 100%;
    padding: .2em;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    background-color: #8d8d8d70;
}

.item-description {
    width: 80%;
    height: 80%;
    margin: .5em;
    text-align: center;
    font-size: 1em;
    overflow-y: scroll;
}

.completed {
    order: 999;
    background-color: greenyellow;
}

.list-button-container {
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.buttons {
    width: 40%;
    margin-bottom: .4em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0px 0px 5px #323232;
    background-color: #efefefba;
}

.buttons:hover {
    background-color: #efefefff;
}

.buttons:active,
.buttons:focus {
    outline: none;
}

.remove-button {
    display: none;
}

.activateHiddenElement {
    display: block;
}

@media only screen and (max-width: 1024px) {
    .list-item {
        width: 80%;
        min-height: 10em;
    }

    .item-title {
        font-size: 1.4em;
    }

    .item-description {
        width: 90%;
        font-size: 1.2em;
    }
}